
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;
    margin-left: 5px;
}

body {
    font-size: 11pt;
    font-family: Inconsolata, monospace;
    color: white;
    background-color: black;
}

.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#container {
    position: absolute;
    top: 0;
    margin: 0;
}

#container output {
    clear: both;
    width: 100%;
}

.input-line {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: stretch;
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-align: stretch;
    display: box;
    box-orient: horizontal;
    box-align: stretch;
    clear: both;
}

.input-line > div:nth-child(2) {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

.prompt {
    white-space: nowrap;
    color: #96b38a;
    margin-right: 7px;
    user-select: none;
}

.cmdline {
    outline: none;
    background-color: transparent;
    margin: 0;
    width: 100%;
    font: inherit;
    border: none;
    color: inherit;
}

.output-border {
    width: 100%;
    overflow: hidden;
    position: relative;
}

#output {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
    overflow-y: scroll;
    margin: 0;
    height: 95%;
}

.RunBefore {
    position:fixed;
    bottom:0px;
    width:100%;
    text-align: center;
}

p:nth-child(1){
    position: absolute;
    margin-top: 50px;
}

#username {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: auto;
    margin-left: auto;
    color: transparent;
}